.container{
    background-color: rgb(78, 161, 212);
    margin-top: 1rem;
    width: 400px;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 3px;
}

ul{
    padding: 0;
}

.items-li{
    margin: 1rem !important;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    line-height: 2em;
    color: rgb(12, 12, 12);
    box-shadow: 1px 1px rgb(139, 139, 139);
    border-radius: 3px;
}

span{
    padding-right: 10px;
    display: none;
    cursor: pointer;
}

.items-li:hover span{
    display: block;
}
